body {
  background-color: #da8f8f;
}

form {
  background-color: #c5daa6;
  border-radius: 10px;
  padding: 20px 0;
}

#name,
#km,
#age {
  background-color: #f3bcbd;
}

.btn {
  background-color: #fcffcb;
  color: black;
}

.ticket-structure {
  background-color: #c5daa6;
  padding-bottom: 20px;
}

.bg-gray {
  background-color: #f3bcbd;
}

#generated-ticket {
  display: none;
}
#generated-ticket.visible {
  display: flex;
}
